{% extends "layout.html" %}
{% block content %}
    

<div class="post_home">
    
    {% if current_user==user %}
        
    <div class="title_head">
        <h1>My Feed</h1>
      </div>
      
    {% else %}
    <div class="title_head">
        <h1>{{user.username}} feed</h1>
      </div>
    

    {% endif %}

    <div class="card_post_home">
        {% for post in posts %}
            <div class="post_items">
                <a href="{{ url_for('post',post_id=post.id) }}">
                <img class="image_size_for_mobile"src="{{ url_for('static', filename='post_pics/' + post.post_image_file) }}">
                
                <div class="post_detail_home">
                    {% if current_user==user %}

                    {% else %}
                        <div class="user_data_home">                         
                            <img src="{{ url_for('static', filename='profile_pics/' + post.author.user_image_file) }}"class="avatar_home"> 
                            <h4 class="user_name_home"><b>{{ post.author.username }}</b></h4>                                            
                        </div>
                       
                    {% endif %}
                    <a href="{{ url_for('post',post_id=post.id) }}">
                        <h3 class="post_title_home">
                            {{ post.title }}
                        </h3>
                    </a>
                    {% if post.author == current_user %}
                    <div class="button_display">
                    <a href="{{ url_for('update_post', post_id=post.id) }}">
                        <p class="update_post_dashbord">
                            Update
                        </p>
                    </a>
                    
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="delete_post_dashbord" type="submit" value="Delete">
                      </form>
                    </div>
                {% endif %}
            
                </div>
                <div class="product_price_home">
                <p> Price</p>
                <p class="price_home">${{ post.price }}</p>                
                </div>
                </a>
            </div>
         

        {% endfor %}
    </div>    
{% endblock content %}



